@charset "UTF-8";

*
{
	background-color: black;
	font-family: 나눔고딕코딩;
	color: #ababab;
}
body, p, div, span, input, table, th, td, select
{
	font-size: 18px;
	
}
.txt
{
	font-weight: bold;
	background-color: #EEE;
	width:100px;
}
.control
{
	border: 1px solid grey;
	border-radius: 3px;
}

.table
{
	border-collapse: collapse;
	width: 350px;
}

.table th, .table td
{
	border: 1px solid grey;
	border-left: 1px;
	border-right: 1px;
	padding: 3px;
	line-height: 150%;	
}
.table td
{
	background-color: gray;
}
.table th
{
	font-weight: bold;
	background-color: #EEE;
}

.btn01
{
	font-weight: bold;
	width: 80px;
	color: blue;
	background-color: gray;	
}
.btn02
{
	font-weight: bold;
	width: 80px;
	color: red;
	background-color: gray;
}

.btn:hover
{
	color: white;
	background-color: tomato;
}